
<div class="container">
    <div style=" text-align:center ;margin:300px;">
        <div class="text"></div>
        <p style="border: 1px solid grey; width:300px; padding:20px; margin:0 auto; ">  {{error}} </p>
    </div>
</div>