

{{!-- <div class="info">
    {{#each data}}
        <p class="tur">{{this.country}}, {{this.time}}</p>
    {{/each}}

</div> --}}

<table>
    <tr>
        <th class="country no_sort">Страна полёта</th>
        <th class="time no_sort">Время начала посадки</th>
    </tr>
    
        {{#each data}}
        <tr>
            <td class="table__country">{{this.country}}</td>
            <td class="table__time">{{this.time}}</td>
        </tr>
        {{/each}}
</table>


