
{{!-- <form action="/" method="post">
    <input type="text" name="where"  class="where"  value="Country" />
    <input type="text" name="time" class="time" value="Time"> 
    <button>Найти билет</button>
</form> --}}

<div class="container main" style="width: 1000px; margin: 0 auto">
    <div style="margin-top: 300px;" >
        <form action="/" method="post">
            <div class="mb-3">
                <label  class="form-label">Name of Country</label>
                <input type="text" class="form-control" id="exampleInputEmail1" name="where">
            </div>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label" >Time</label>
                <input placeholder="Select Dateime" name="time" class="form-control" type="datetime-local" id="exampleInputPassword1">
            </div>
            <div class="button">
                <button type="submit"  class="btn btn-primary">Submit</button>
                <div  class="info_bt">
                    <button class="info__btn"><a  href="/info">Посмотреть рейсы</a></button>
                    <button class="info__btn"><a  href="/turs">Рейсы в базе данных</a></button>
                    <button class="info__btn"><a  href="/newTripForm">Создать тур</a></button>
                </div>
            </div>
        </form>
    </div>
</div>


