<div class="logo">
    <a class="logo__text"  href="/">Главная</a>
</div>


<div class="container createTrip">
    <form class="newTrip" method="post" action="/newTripForm">
        <div class="mb-3">
            <label  class="form-label">Name of Country</label>
            <input type="text" class="form-control" id="exampleInputEmail1" name="where">
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label" >Time</label>
            <input placeholder="Select Dateime" name="time" class="form-control" type="datetime-local" id="exampleInputPassword1">
        </div>
       <a href="/"><button type="submit" class="btn btn-primary">Создать</button></a>
    </form>
</div>