<div class="container turs">
<table>
    <tr class="top">
        <th class="tur__id">ID</th>
        <th class="country no_sort">Страна полёта
            <span id="name-icon" class="material-icons-outlined">expand_more</span>
        </th>
        <th class="time no_sort">Время начала посадки
            <span class="material-icons-outlined first">expand_more</span>
        </th>
    </tr>
    {{#each tur}}
        <tr>
            <td class="table__id">{{this.id}}</td>
            <td class="table__country">{{this.country}}</td>
            <td class="table__time">{{this.time}}</td>
        </tr>
    {{/each}}
</table>
</div>

